/**
 * @demo page component for image
 * @author lvlei
 */

.wrap {
    font-size: .16rem;
}
.img-box {
    margin: auto .23rem;
    position: relative;
}
.swan-icon {
    width: 29px;
    height: 29px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.big-img {
    height: 2.13rem;
    line-height: 2.13rem;
    background: #EAEAEA;
}
.small-img {
    margin-top: .15rem;
}
.rect-box,
.cir-box {
    background: #EAEAEA;
    display: inline-block;
    position: relative;
}
.rect-box {
    height: .91rem;
    width: 1.21rem;
    margin-right: .22rem;
}
.cir-box {
    height: .64rem;
    width: .64rem;
    border-radius: 50%;
    top: -.13rem;
}
.cir-box image {
    width: 32px;
    height: 32px;
}
