/**
 * @demo page for swiper
 * @author lvlei
 */

.wrap {
    font-size: .16rem;
}
.swiper-wrap {
    width: 88%;
    margin: .1rem auto;
}
.item {
    width: 100%;
    height: 150px;
    font-size: .16rem;
    color: #fff;
    text-align: center;
    line-height: 150px;
}
.color-a {
    background-color: #6895FF;
}
.color-b {
    background-color: #8FB1FF;
}
.color-c {
    background-color: #C3D1FF;
}

.switch-wrap {
    padding: 0 .17rem;
    background: #fff;
    margin: .2rem 0;
}
.switch-wrap > view {
    height: .48rem;
    line-height: .48rem;
    color: #000;
    font-size: .18rem;
    border-bottom: 1px #f5f5f5 solid;
    position: relative;
}
.switch {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.slider-wrap > view {
    height: 100%;
    padding: 0 .17rem;
}
.slider-title-time {
    overflow: hidden;
    padding: .2rem 0 .1rem;
}
.slider-title,
.slider-time {
    font-size: .16rem;
    color: #666;
    line-height: .25rem;
}
.slider-title {
    float: left;
}
.slider-time {
    float: right;
    margin-right: .1rem;
}
