/**
 * @demo page component for label
 * @author lvlei
 */

.wrap {
    font-size: .16rem;
}
.form {
    margin: 0 .25rem;
}
.labelItem {
    display: block;
    margin: .2rem .3rem;
}
.checkbox {
    padding-right: 10px;
}
