.wrap {
    padding-top: .3rem;
}
.canvas-wrap {
    margin: 0 .23rem;
}
.canvas {
    width: 100%;
    height: 100%;
    display: block;
    background: #fff;
}
.btn {
    margin: .15rem .23rem 0;
}
.canvas-off {
    margin-top: 1rem;
}